h1{
  color: red;
}
.App{
  display: flex;

}
.Car{
  display: block;
  box-shadow: 0 0 10px black;
  border: 1px solid red;
  padding: 20px;
  margin: 10px;
  width:200px;
}
.blue_button, .red_button{
  width: 100%;
  margin-top: 10px;
}